In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns

In [60]:
data  = pd.read_csv('house_rental_data.csv.txt')

In [61]:
data

,Unnamed: 0,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
0,1,1177.698,2,7,2,2,2,62000
1,2,2134.800,5,7,4,2,2,78000
2,3,1138.560,5,7,2,2,1,58000
3,4,1458.780,2,7,3,2,2,45000
4,5,967.776,11,14,3,2,2,45000
...,...,...,...,...,...,...,...,...
640,644,1359.156,7,15,3,2,2,45000
641,645,377.148,4,10,1,1,1,24800
642,646,740.064,13,14,1,1,1,45000
643,647,1707.840,3,14,3,2,2,65000
644,648,1376.946,6,7,3,2,1,36000

In [62]:
data.describe()

,Unnamed: 0,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
count,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000
mean,325.159690,1527.656260,5.939535,10.855814,2.837209,1.813953,1.810853,61986.823256
std,187.312152,767.386531,3.884721,4.996208,1.010740,0.462364,0.683574,35635.091007
min,1.000000,359.358000,1.000000,1.000000,1.000000,0.000000,0.000000,6100.000000
25%,164.000000,925.080000,3.000000,7.000000,2.000000,2.000000,1.000000,39000.000000
50%,326.000000,1423.200000,5.000000,12.000000,3.000000,2.000000,2.000000,50000.000000
75%,487.000000,1892.856000,8.000000,14.000000,4.000000,2.000000,2.000000,75000.000000
max,648.000000,5856.468000,22.000000,38.000000,7.000000,4.000000,5.000000,250000.000000

In [63]:
y = data['Price']
x = data.drop(['Price'], axis =1)

In [64]:
# from sklearn.preprocessing import MinMaxScaler
# minmax = MinMaxScaler()
# x = minmax.fit_transform(x)

In [65]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,random_state=42)

In [66]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(xtrain,ytrain)
y_pred_lr  = lr.predict(xtest)

from sklearn.metrics import r2_score
r2_score(ytest,y_pred_lr)

0.7289756230912745

# Ridge L2 Regularisation
sum(y-y^)+ lamda(slope)^2  =0

In [74]:
from sklearn.linear_model import Ridge
rd = Ridge(alpha = 10000)
rd.fit(xtrain,ytrain)
y_pred_rd = rd.predict(xtest)

r2_score(ytest, y_pred_rd)

0.726180760207833

# Lasso L1 regularisation
sum(y-y^)+ lamda*|slope| = 0

In [75]:
# Lasso gives us feature importance as lass0.coef_

from sklearn.linear_model import Lasso
la =  Lasso(alpha = 0.1)
la.fit(xtrain,ytrain)
y_pred_la = la.predict(xtest)

r2_score(ytest, y_pred_la)

0.7289758481503994

In [77]:
la.coef_

array([-3.35970239e+00,  3.50207873e+01,  9.66786249e+02,  1.91002273e+02,
       -3.12031851e+02, -4.00526552e+03,  4.23195594e+03])

# ElasticNet 
    1. L1+L2 = Ridge_lasso penalty
    2. loss function = 
      sum(y-y^)+ lamda*|slope| +lamda(slope)^2 = 0

In [78]:
from sklearn.linear_model import ElasticNet
enet =  ElasticNet(alpha = 0.1)
enet.fit(xtrain,ytrain)
y_pred_enet = enet.predict(xtest)

r2_score(ytest, y_pred_enet)

0.7300875321818415